out/*
target/*
.idea/*
.bsp/*
project/*
minesweeper.iml
.bloop
minesweeper.iml.metals
.vscode
.metals
project/project/
project/target/
src/main/scala/de/htwg/.scala-build/*
src/main/scala/intro
htmlReport/*
src/main/scala/intro/*