apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: quality
spec:
  selector:
    app: postgres
  ports:
    - port: 5432

---
apiVersion: v1
kind: Service
metadata:
  name: sonarqube
  namespace: quality
spec:
  selector:
    app: sonarqube
  ports:
    - port: 9000
      targetPort: 9000

