name: Create Release

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - dev

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v5
    - name: Set up JDK 11
      uses: actions/setup-java@v4
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: 'sbt'
    - name: Setup sbt
      uses: sbt/setup-sbt@v1
    - name: Semantic Release
      uses: cycjimmy/semantic-release-action@v5
      with:
        tag_format: ${version}
        branches: |
          [
            'main',
            {
              name: 'dev',
              prerelease: true
            }
          ]
        extra_plugins: |
          @semantic-release/changelog
          @semantic-release/git
          @saithodev/semantic-release-backmerge
          semantic-release-replace-plugin
          @semantic-release/exec
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
